#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#error {
  background-color: white;
  padding: 1rem;
  font-size: 1.3rem;
}

#error h1 {
  margin: 0;
}

.modal {
  border: 1px solid black;
  border-radius: 1rem;

  position: fixed;
  left: 50%;
  top: 40%;
  translate: -50% -50%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
