.main {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  height: auto;
}

.placeholder {
  position: absolute;
  left: 50%;
  top: 40%;
}

.divider {
  height: auto;
  padding: 1px;
  background-color: rgb(122, 122, 122);
}