.main {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  height: auto;
  padding-left: .5rem;
  height: calc(100vh - 138px);
}

.placeholder {
  margin: auto;
}

.divider {
  height: auto;
  padding: 1px;
  background-color: rgb(122, 122, 122);
}